# Dependencies
node_modules/
/node_modules/

# Build outputs
target
dist
build/
/.react-router/

# Logs
logs
npm-debug.log
yarn-error.log

# Cache
.cache

# IDE
.DS_Store
.idea

# TypeScript
*.tsbuildinfo

# Environment variables
.env.*
!.env.example

# Vercel
/.vercel/
.vercel
.env*.local
